<strong>Olá, {{student}}</strong>
<p>Sua matrícula foi realizada com sucesso, confia abaixo as informações:</p>
<p>
  <strong>Plano: </strong> {{plan}} <br />
  <strong>Término do Plano: </strong> {{end_date}} <br />
  <strong>Preço: </strong> {{price}} <br />
  <br />
  <small>
    Seja bem vindo à GymPointer, é um prazer atendê-lo!
  </small>
</p>
